<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header.ejs %>
</head>
<body>
    <div class="container">
        <h2>Database Results</h2>
        <ul>
        Hello there! I access the postgresql database for this app!<br>
        <% result1.forEach(function(r) { %>
            <li>
                <%= r.title_id %> -
                <%= r.title_name %> -
                <% result2.forEach(function(s) { %>
                    <% if ( %> 
                    <%= r.genre_type %> 
                    <% == %> 
                    <%= s.genre_id %> <% ) { %>
                        <%= s.genre_name %>
                    <% }}); %>
                <% if (r.type_tv) { %>
                <%= r.type_tv %>
                <% } %>
                <% if (r.type_film) {%> 
                <%= r.type_film %> 
                <% } %>
                <% if (r.type_other) {%>
                <%= r.type_other %> 
                <% } %> 
            </li>  
        <% });%>  
        </ul>
    </div>
</body>
</html>