<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <a href="/add">Click Here to Add Media</a><br>
    <div class="container">
        
        <div id="browseDiv">
            <h2>Database Results</h2>
            <ul>
            Hello there! I access the postgresql database for this app!<br>
                <li>
                    <% result.forEach(function(r) { %>
                    <li><%= r.title_id %> - <%= r.title_name %>
                    </li>
                    <% }); %>
                </li>  
            </ul>
        </div>
        <div id="typeDiv">
        <h2>Type Results</h2>
        <ul>
            <li>
                <% resultFilm.forEach(function(s) { %>
                    <li><%= s.title_id %> - 
                        <%= s.title_name %></li>
                <% }); %>
            </li>
        </ul>
    </div>
    <div id="genreDiv">
        <h2>Genre Results</h2>
        <!-- <ul>
       <br>
            <li>
                <% result.forEach(function(r) { %>
                    <li><%= r.title_id %> - <%= r.title_name %></li>
                <% }); %>
            </li>  
        </ul> -->
        Yo. Genres Not Loading Yet.
    </div>
    <script src="../../public/index.js"></script>
</body>
</html>
    