<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <div class="container">
        <h2>Database Results</h2>
        <ul>
        Hello there!
        <% tableOne.forEach(function(test) { %>
            <li>
                <%= test.id %> - 
                <%= test.name %>
            </li>
        <% }); %>
        <% tableTwo.forEach(function(two) { %>
            <li>
                <%= two.title_id %> - 
                <%= two.title_name %>
                <%= two.genre_type %> -
                <%= two.type_tv %> -
                <%= two.type_film %> -
                <%= two.type_other %>
            </li>
        <% }); %>
        <% tableThree.forEach(function(three) { %>
            <li>
                <%= three.username %> - 
                <%= three.password %>
                <%= three.first_name %> -
                <%= three.last_name %> -
                <%= three.email_address %>
            </li>
        <% }); %>
        <% tableFour.forEach(function(four) { %>
            <li>
                <%= four.genre_id %> - 
                <%= four.genre_name %>
            </li>
        <% }); %>
        </ul>
    </div>
</body>
</html>